CONNECTION_STRING = "a mongo db connection url with username and password"
ACCESSTOKENSECRET="Your random key - its just string, you could even use this."
REFRESHTOKENSECRET="Your random key - its just string, you could even use this."
MFATOKENSECRET="Your random key - its just string, you could even use this."
RANKCUTOFF=79
MFAWINDOW=2
MFASECRETLENGTH=20
RGAPI="RGAPI-your-api-key"